[Unit]
Description=boxmunge health check
After=docker.service

[Service]
Type=oneshot
User=root
ExecStartPre=/opt/boxmunge/bin/boxmunge-upgrade check-probation
ExecStart=/opt/boxmunge/bin/boxmunge check-all
StandardOutput=journal
StandardError=journal
